#
# Sample config file for open-tunnel
#

# Username on remote SSH server
MY_USER="ec2-user"

# Port of remote SSH server
MY_REMOTE_PORT=22

# Port number on local system that dynamically forwards traffic to remote server
MY_FORWARD_PORT=9000

# SSH key file used to authenticate with the remote SSH server
MY_IDENTITY_FILE=~/.ssh/aws-useast1-maxwell.pem

# Misc SSH parameters desired for this connection
MY_SSH_PARAMETERS="-o ServerAliveCountMax=4 -o ServerAliveInterval=240 -o IdentitiesOnly=yes -o LogLevel=Verbose"
